@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply dark:bg-primary bg-secondary text-primary dark:text-secondary dark:border-secondary border-primary;
  }

  h1,
  h2,
  h3,
  p {
    @apply select-none;
  }
}

:root {
  --primary: #2c3333;
  --secondary: #cbe4de;
  --accent: #0e8388;
}

.fade-in {
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  position: relative;
}

a {
  color: inherit;
  text-decoration: none;
}
